
div.row.section {
  margin-top: 10px;
}

fieldset {
  font-family:sans-serif;
}

fieldset legend {
  font-family: Arial, Helvetica, sans-serif;
}

.row-background {
  background-color: rgb(225, 244, 250);
  margin: auto;
}

#profilepic {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 150px;
  border: 1px solid rgb(83, 140, 226);
  box-shadow: 2px 3px 10px rgb(125, 151, 236);
  margin: 30px 15px 10px 0;
  filter: grayscale(30%);
}

#header-nav {
  border-radius: 0;
  border: 0;
}

#nav-list {
  margin-left: 5px;
  margin-top: 5px;
}

#nav-list a {
  text-align: right;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

#casa {
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: blue;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

/* Desktop */
@media (min-width: 1200px) {
  body {
    width: 695px;
    border: 1px solid darkcyan;
    margin: auto;
    position: relative;
    padding: 20px;
  }

  .show-icon-minnor-screen {
    display: none;
  }

  .show-link-big-screen {
    display: block;
  }

}

/* Tablet */
@media (min-width: 992px) and (max-width: 1199px) {

  body {
    width: 695px;
    border: 1px solid darkcyan;
    margin: 20px auto;
    position: relative;
    padding: 20px;
  }

  .show-icon-minnor-screen {
    display: none;
  }

  .show-link-big-screen {
    display: block;
  }
}

/* Mobile */
@media (min-width: 768px) and (max-width: 991px) {

  body {
    width: 695px;
    border: 1px solid darkcyan;
    margin: auto;
    margin-top: 20px;
    position: relative;
    padding: 10px;
  }

  .show-icon-minnor-screen {
    display: none;
  }

  .show-link-big-screen {
    display: block;
  }

}

/* Mobile xs*/
@media (max-width: 767px) {

  body {
    width: 90%;
    border: 1px solid darkcyan;
    margin: auto;
    position: relative;
    padding: 10px;
  }

  .show-icon-minnor-screen {
    display: block;
  }

  .show-link-big-screen {
    display: none;
  }
}

@media (max-width: 479px) {

  body {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #profilepic {
    width: 100px;
    height: 100px;
    margin: 10px;
    
  }

  h1{
    font-size: 18px;
  }
 

.show-icon-minnor-screen {
  display: block;
}

.show-link-big-screen {
  display: none;
}
}